
#datasette-geo-map {
	border: 1px solid #ddd;
	margin-bottom: 5px;
}

.datasette-geo-popup {
	max-width: 300px;
}

.datasette-geo-data {
	max-height: 250px;
	overflow-y: scroll;
	margin-right: -8px;
	margin-top: 5px;
	padding-right: 3px;
}

.datasette-geo-popup .datasette-geo-key {
	font-weight: bold;
	display: inline;
}

.datasette-geo-popup .datasette-geo-key::after {
	content: ": ";
}

.datasette-geo-popup .datasette-geo-value {
	display: inline;
}
